{% extends "base.html" %}
{% block body %}
<div class="main-wrapper">
  <table border=0 cellpadding=5 cellspacing=0 >
    <tr>
      <td>
      {% if crashinfo is not none %}
        <table border=0 cellpadding=5 cellspacing=0 width="100%">
          <tr bgcolor="#333333">
            <td>
              <div style="font-size: 20px;">Crash Viewer</div>
            </td>
          </tr>
          <tr bgcolor="#111111">
            <td colspan=2 align="center">
              <h2>Crash Info</h2>
              {% if crashinfo is none %}
              <em>None</em>
              {% else %}
              <pre>{{ crashinfo.decode('utf-8', errors='replace') }}</pre>
              {% endif %}
            </td>
          </tr>
        </table>
      {% endif %}
        <h2>Test Case Log</h2>
        <table class="test-steps">
          <tr>
            <td><span class="{{ test_case.css_class }}">{{ test_case.html_log_line }}</span></td>
          </tr>
          {% for step in test_case.steps %}
          <tr>
            <td><span class="{{ step.css_class }}">{{ step.html_log_line }}</span></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
