include *.py
include *.rst
include *.txt
recursive-include boofuzz *.md
recursive-include boofuzz *.py
recursive-include examples *.py
recursive-include new_examples *.py
recursive-include requests *.html
recursive-include requests *.py
recursive-include unit_tests *.feature
recursive-include unit_tests *.py
recursive-include utils *.py
include tox.ini
