include *.py *.rst *.toml *.txt tox.ini
include docs/Makefile

recursive-include _static *.png
recursive-include artwork *.eps *.ico *.png *.svg
recursive-include boofuzz/doc *.md
recursive-include docs *.bat *.css *.html *.png *.py *.rst
recursive-include examples *.md *.py
recursive-include request_definitions *.html *.py
recursive-include unit_tests *.feature *.py
recursive-include utils *.py

exclude .readthedocs.yml .travis.yml codecov.yml
prune docs/_build
